.hero-section {
    height: 100vh;
    background: url("../assets/img/ship-wallpaper.jpeg") center center / cover no-repeat;
    position: relative;
    z-index: 1;
    color: white;
  
    .pirate-hero {
      line-height: 120%;
      letter-spacing: 3%;
      font-size: 86px;
    }
  }
  