<section class="events-section py-5 bg-light">
    <div class="container">
      <h2 class="text-center title-events">Events</h2>
      <!-- mobile -->
      <div class="events-swiper swiper d-md-none">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="card h-100 event-card">
              <img src="/src/assets/img/features-ship.jpeg"
                   class="card-img-top"
                   alt="Boom belaying"
                   loading="lazy"
                   >
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Boom belaying</h5>
                <p class="card-text text-muted mb-4">
                  Pirate ipsum arrgh bounty warp jack.
                </p>
                <a href="#" class="btn btn-warning btn-sm ms-auto read-more-btn"></a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card h-100 event-card">
              <img src="/src/assets/img/features-ship.jpeg"
                   class="card-img-top"
                   alt="Boom belaying">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Boom belaying</h5>
                <p class="card-text text-muted mb-4">
                  Pirate ipsum arrgh bounty warp jack.
                </p>
                <a href="#" class="btn btn-warning btn-sm ms-auto read-more-btn"></a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card h-100 event-card">
              <img src="/src/assets/img/features-ship.jpeg"
                   class="card-img-top"
                   alt="Boom belaying">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Boom belaying</h5>
                <p class="card-text text-muted mb-4">
                  Pirate ipsum arrgh bounty warp jack.
                </p>
                <a href="#" class="btn btn-warning btn-sm ms-auto read-more-btn"></a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card h-100 event-card">
              <img src="/src/assets/img/features-ship.jpeg"
                   class="card-img-top"
                   alt="Boom belaying">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Boom belaying</h5>
                <p class="card-text text-muted mb-4">
                  Pirate ipsum arrgh bounty warp jack.
                </p>
                <a href="#" class="btn btn-warning btn-sm ms-auto read-more-btn"></a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card h-100 event-card">
              <img src="/src/assets/img/features-ship.jpeg"
                   class="card-img-top"
                   alt="Boom belaying">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Boom belaying</h5>
                <p class="card-text text-muted mb-4">
                  Pirate ipsum arrgh bounty warp jack.
                </p>
                <a href="#" class="btn btn-warning btn-sm ms-auto read-more-btn"></a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card h-100 event-card">
              <img src="/src/assets/img/features-ship.jpeg"
                   class="card-img-top"
                   alt="Boom belaying">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Boom belaying</h5>
                <p class="card-text text-muted mb-4">
                  Pirate ipsum arrgh bounty warp jack.
                </p>
                <a href="#" class="btn btn-warning btn-sm ms-auto read-more-btn"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-arrow">
          <div class="swiper-button-prev">
            <img class="arrow-icon rotate-left" src="/src/assets/img/arrow-right.svg" alt="Precedente" />
          </div>
          <div class="swiper-button-next">
            <img class="arrow-icon" src="/src/assets/img/arrow-right.svg" alt="Successivo" />
          </div>
        </div>
      </div>
  
    <!-- desktop -->
      <div class="row g-4 events-fallback d-none d-md-flex">
        <div class="col-sm-6 col-md-4">
          <div class="card h-100 event-card">
            <img src="/src/assets/img/features-ship.jpeg"
                 class="card-img-top"
                 alt="Boom belaying">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Boom belaying</h5>
              <p class="card-text text-muted mb-4">
                Pirate ipsum arrgh bounty warp jack.
              </p>
              <a href="#" class="btn btn-warning btn-sm ms-auto read-more-btn"></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card h-100 event-card">
              <img src="/src/assets/img/features-ship.jpeg"
                   class="card-img-top"
                   alt="Boom belaying">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Boom belaying</h5>
                <p class="card-text text-muted mb-4">
                  Pirate ipsum arrgh bounty warp jack.
                </p>
                <a href="#" class="btn btn-warning btn-sm ms-auto read-more-btn"></a>
              </div>
            </div>
          </div>
        <div class="col-sm-6 col-md-4">
            <div class="card h-100 event-card">
              <img src="/src/assets/img/features-ship.jpeg"
                   class="card-img-top"
                   alt="Boom belaying">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Boom belaying</h5>
                <p class="card-text text-muted mb-4">
                  Pirate ipsum arrgh bounty warp jack.
                </p>
                <a href="#" class="btn btn-warning btn-sm ms-auto read-more-btn"></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card h-100 event-card">
              <img src="/src/assets/img/features-ship.jpeg"
                   class="card-img-top"
                   alt="Boom belaying">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Boom belaying</h5>
                <p class="card-text text-muted mb-4">
                  Pirate ipsum arrgh bounty warp jack.
                </p>
                <a href="#" class="btn btn-warning btn-sm ms-auto read-more-btn"></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card h-100 event-card">
              <img src="/src/assets/img/features-ship.jpeg"
                   class="card-img-top"
                   alt="Boom belaying">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Boom belaying</h5>
                <p class="card-text text-muted mb-4">
                  Pirate ipsum arrgh bounty warp jack.
                </p>
                <a href="#" class="btn btn-warning btn-sm ms-auto read-more-btn"></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card h-100 event-card">
              <img src="/src/assets/img/features-ship.jpeg"
                   class="card-img-top"
                   alt="Boom belaying"
                   loading="lazy">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Boom belaying</h5>
                <p class="card-text text-muted mb-4">
                  Pirate ipsum arrgh bounty warp jack.
                </p>
                <a href="#" class="btn btn-warning btn-sm ms-auto read-more-btn"></a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
  