<section class="features-section">
    <!-- SHIPS -->
    <div class="feature-block">
        <div class="feature-img ships-img"></div>   
        <div class="feature-content right">        
        <div class="box-text">
            <h2>SHIPS</h2>
            <p>Pirate ipsum arrgh bounty warp jack. Tender smartly jack overhaul killick tender. Fleet driver to fluke bilge gangway. Chase nipperkin just mutiny spanish hang me quarterdeck heave. Coxswain jones’ bow bilged clipper spyglass league chantey crack spyglass. Bilge six measured fleet on. Seven blossom blossom overhaul crow’s chantey salmagundi chandler.<br><br></p>
        </div>
        </div>
    </div>

    <!-- PARROTS -->
    <div class="feature-block">
        <div class="feature-img parrots-img"></div>
        <div class="feature-content left">
        <div class="box-text">
            <h2>PARROTS</h2>
            <p>Corsair cat gunwales jack seas. Arr hands aft prey rat. Boom maroon just locker chase. Pounders jack jib scurvy plate bilged. Chandler coxswain jolly ketch crack yer chains locker warp brig. Killick warp ensign heave or avast jack. Reef brethren round hail-shot topmast fleet roger topgallant men nipper. Seven yer driver sloop ensign shot.</p>
        </div>
        </div>
    </div>
</section>
  