<footer class="site-footer">
    <div class="footer__wrapper">
  
      <!-- logo -->
      <a href="/" class="footer__logo" aria-label="Home">
        <img src="/src/assets/img/Logo.svg" alt="Logo anchor" />
      </a>
  
      <!-- social -->
      <ul class="footer__social">
        <li><a href="#"><img src="/src/assets/img/mastodon.svg"   alt="Mastodon" /></a></li>
        <li><a href="#"><img src="/src/assets/img/instagram.svg"  alt="Instagram" /></a></li>
        <li><a href="#"><img src="/src/assets/img/twitch.svg"     alt="Twitch" /></a></li>
      </ul>
  
      <!-- contatti (sparisce su mobile) -->
      <!-- <a href="#contact" class="footer__btn">Contacts</a> -->
      <a href="#" class="btn btn-warning fw-semibold px-3 btn-contacts footer__btn">Contacts</a>
    </div>
  </footer>
  
  